<div class="jumbotron text-center" ng-controller="aboutController as about">
	<h1>ABOUT Page</h1>
		
	<p>{{ about.message }}</p>
</div>

<!-- This is testing that angular can detect HTML events == FRONT END RESPONSE -->
<button ng-click="fooAlert()">FRONT-END Function execution (browser alert)</button>

<!-- I need to somehow pass my html event to the server to take action == BACK END RESPONSE -->
<div ng-app="testApp" ng-contoller="testController">
<form ng-submit="fooConsole()">
	<input type="submit" value="BACK-END Function execution (console log message)" />
</form>
</div>

<!-- FUTURE TRIES: try event emitter? Try socket.io?? -->