<div class="jumbotron text-center" ng-controller="codebaseListController as cbc">
	<h1>Evolving Codebases</h1>
</div>


<div class="panel-group" id="accordion">

    <p>
        This is a list of codebases studied in Project 1. Click a link to expand information about what you can do with it (available tools). These codebases aren't listed in any particular order. For more information about the tools, either follow the link to visit the developer repository, or navigate to "Research Center > QUESTION" and expand the correct question for a short summary.<br>
    </p>

    <div class="panel panel-default">
        <div class="panel-heading" id="RedditPanelTitle"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> 
                {{cbc.section1}} 
                <img src="https://www.redditstatic.com/about/assets/reddit-logo.png" alt="Reddit Logo" style="height:20px; float:right;">
            </a></h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
        	<div class="panel-body" id="RedditPanelBody">
                <p>Reddit is an entertainment, social networking, and news website where registered comunity members can submit content such as text posts or direct links.</p>

                <p><b>What can you ask about Reddit?</b>
                <ul>
                    <li>{{cbc.S1Q1}}
                    <br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/PolloDiablo/SENG-371-Project-1"><button>Visit Repository</button></a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> 
                {{cbc.section2}}
                <img src="http://demos.jquerymobile.com/1.4.2/_assets/img/jquery-logo.png" alt="jQuery Mobile logo" style="height:20px; float:right;">
            </a></h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <p>jQuery Mobile is a cross platform mobile framework designed to simplify and enhance the development of mobile web applications by integrating HTML5, CSS3, jQuery and jQuery UI into one framework that is not only robust, but maintainable and organized.</p>

                <p><b>What can you ask about jQuery Mobile?</b>
                <ul>
                    <li>{{cbc.S2Q1}}
                    <br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/Jsyro/seng371"><button>Visit Repository</button></a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading" id="JQueryPanelTitle"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> 
                {{cbc.section3}} 
                <img src="http://www.icone-png.com/png/52/52453.png" alt="jQuery Logo" style="height:20px; float:right;">
            </a></h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <p>jQuery is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers.</p>

                <p><b>What can you ask about jQuery?</b>
                <ul>
                    <li>{{cbc.S3Q1}}
                    <br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/Jsyro/seng371"><button>Visit Repository</button></a>
                    </li>
                    <li>{{cbc.S3Q2}}
                    <br>
                    <a target="_blank" ng-href="https://github.com/knowlesc/seng371project1"><button>Visit Repository</button></a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"> 
                {{cbc.section4}}
                <img src="http://www.logicalimagination.com/Content/DesignLogos/bootstrap2_logo.png" alt="Bootstrap Logo" style="height:20px; float:right;">
            </a></h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Bootstrap is the most popular HTML, CSS, and JavaScript framework for developing responsive, mobile-first web sites.</p>

                <p><b>What can you ask about Bootstrap?</b>
                <ul>
                    <li>{{cbc.S4Q1}}
                    <br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/Jsyro/seng371"><button>Visit Repository</button></a>
                    </li>
                    <li>{{cbc.S4Q2}}
                    <br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/devinc13/SENG371-Devin-and-Andrew"><button>Visit Repository</button></a>
                    </li>
                    <li>{{cbc.S4Q3}}
                    <br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/guand/seng371-project1"><button>Visit Repository</button></a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"> 
                {{cbc.section5}}
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png" alt="Rails Logo" style="height:20px; float:right;">
            </a></h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Rails is a full-stack framework that emphasizes the use of well-known software engineering patterns and paradigms, including convention over configuration (CoC), don't repeat yourself (DRY), the active record pattern, and model–view–controller (MVC).</p>

                <p><b>What can you ask about Rails?</b>
                <ul>
                    <li>{{cbc.S5Q1}}
                    <br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/Jsyro/seng371"><button>Visit Repository</button></a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"> 
                {{cbc.section6}}
                <img src="https://www.djangoproject.com/s/img/logos/django-logo-negative.png" alt="django Logo" style="height:20px; float:right;">
            </a></h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It's free and open source. Ridiculously fast.</p>

                <p><b>What can you ask about Django?</b>
                <ul>
                    <li>{{cbc.S6Q1}}
                    <br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/371student/SENG371Project"><button>Visit Repository</button></a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"> 
                {{cbc.section7}}
                <img src="http://docs.pylonsproject.org/en/latest/_downloads/pyramid-positive.png" alt="Pyramid Logo" style="height:20px; float:right;">
            </a></h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Pyramid is a small, fast, down-to-earth, open source Python web framework. It makes real-world web application development and deployment more fun, more predictable, and more productive. It is produced by the Pylons Project.</p>

                <p><b>What can you ask about Pyramid?</b>
                <ul>
                    <li>{{cbc.S7Q1}}
                    <br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/371student/SENG371Project"><button>Visit Repository</button></a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight"> 
                {{cbc.section8}} 
                <img src="http://flask.pocoo.org/static/logo/flask.png" alt="Flask Logo" style="height:20px; float:right;">
            </a></h4>
        </div>
        <div id="collapseEight" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Flask is a web framework. This means flask provides you with tools, libraries and technologies that allow you to build a web application. This web application can be some web pages, a blog, a wiki or go as big as a web-based calendar application or a commercial website</p>

                <p><b>What can you ask about Flask?</b>
                <ul>
                    <li>{{cbc.S8Q1}}
                    <br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/371student/SENG371Project"><button>Visit Repository</button></a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine"> 
                {{cbc.section9}}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/2000px-Node.js_logo.svg.png" alt="Node js Logo" style="height:20px; float:right;">
            </a></h4>
        </div>
        <div id="collapseNine" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.</p>

                <p><b>What can you ask about Node.js?</b>
                <ul>
                    <li>{{cbc.S9Q1}}
                    <br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/devinc13/SENG371-Devin-and-Andrew"><button>Visit Repository</button></a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen"> 
                {{cbc.section10}} 
                <img src="http://comptutorhk.com/wp-content/uploads/2015/01/python-logo.png" alt="Python Logo" style="height:20px; float:right;">
            </a></h4>
        </div>
        <div id="collapseTen" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. Python supports modules and packages, which encourages program modularity and code reuse. </p>

                <p><b>What can you ask about Python?</b>
                <ul>
                    <li>{{cbc.S10Q1}}
                    <br>
                    <a target="_blank" ng-href="https://github.com/eburdon/Seng371-SoftwareEvolutionClassProject"><button>Visit Repository</button></a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven"> 
                {{cbc.section11}}
                <img src="http://www.goodboydigital.com/wp-content/uploads/2013/02/logo.png" alt="Pixi js Logo" style="height:20px; float:right;">
            </a></h4>
        </div>
        <div id="collapseEleven" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Pixi.js is a wonderful library dedicated to serving as a fast and simple rendering engine. It can be used with a number of other JavaScript game libraries, and can do both canvas and WebGL rendering.</p>

                <p><b>What can you ask about Pixi.js?</b>
                <ul>
                    <li>{{cbc.S11Q1}}
                    <br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/gregnr/SoftwareEvolutionAnalysis"><button>Visit Repository</button></a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve"> 
                {{cbc.section12}}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/AngularJS_logo.svg/695px-AngularJS_logo.svg.png" alt="Angular js Logo" style="height:20px; float:right;">
            </a></h4>
        </div>
        <div id="collapseTwelve" class="panel-collapse collapse">
            <div class="panel-body">
                <p>AngularJS is a structural framework for dynamic web apps. It lets you use HTML as your template language and lets you extend HTML's syntax to express your application's components clearly and succinctly. Angular's data binding and dependency injection eliminate much of the code you would otherwise have to write.</p>

                <p><b>What can you ask about Angular.js?</b>
                <ul>
                    <li>{{cbc.S12Q1}}
                    <br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/gregnr/SoftwareEvolutionAnalysis"><button>Visit Repository</button></a>
                    </li>
                    <li>{{cbc.S12Q2}}
                    <br>
                    <a target="_blank" ng-href="https://github.com/knowlesc/seng371project1"><button>Visit Repository</button></a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen"> 
                {{cbc.section13}}
                <img src="http://www.jwbentley.com/melon.png" alt="Melon js Logo" style="height:20px; float:right;">
            </a></h4>
        </div>
        <div id="collapseThirteen" class="panel-collapse collapse">
            <div class="panel-body">
                <p>melonJS is the result of our enthusiasm and past experiments with Javascript, and came from the feeling that no simple, free and standalone library was available to develop games. And although still a work in progress, melonJS already allows to easily create some nice games.</p>

                <p><b>What can you ask about Melon.js?</b>
                <ul>
                    <li>{{cbc.S13Q1}}
                    <br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/gregnr/SoftwareEvolutionAnalysis"><button>Visit Repository</button></a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">
                {{cbc.section14}}
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/21/BackboneJS_logo.png" alt="Backbone js Logo" style="height:20px; float:right;">
            </a></h4>
        </div>
        <div id="collapseFourteen" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Backbone.js is a JavaScript library with a RESTful JSON interface and is based on the model–view–presenter (MVP) application design paradigm. Backbone is known for being lightweight, as its only dependency is on one JavaScript library, Underscore.js.</p>

                <p><b>What can you ask about Backbone.js?</b>
                <ul>
                    <li>{{cbc.S14Q1}}
                    <br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/guand/seng371-project1"><button>Visit Repository</button></a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen">
                {{cbc.section15}} 
            </a></h4>
        </div>
        <div id="collapseFifteen" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Homebrew is a free/open source software package management system that simplifies the installation of software on the Mac OS X operating system.</p>

                <p><b>What can you ask about Homebrew?</b>
                <ul>
                    <li>{{cbc.S15Q1}}
                    <br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/guand/seng371-project1"><button>Visit Repository</button></a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen">
                {{cbc.section16}}
                <img src="https://iojs.org/images/1.0.0.png" alt="io js Logo" style="height:20px; float:right;">
            </a></h4>
        </div>
        <div id="collapseSixteen" class="panel-collapse collapse">
            <div class="panel-body">
                <p>io.js is a JavaScript platform built on Chrome's V8 runtime. This project began as a fork of Joyent's Node.js™ and is compatible with the npm ecosystem.</p>

                <p><b>What can you ask about io.js?</b>
                <ul>
                    <li>{{cbc.S16Q1}}
                    <br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/gregnr/SoftwareEvolutionAnalysis"><button>Visit Repository</button></a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen"> 
                {{cbc.section17}}
                <img src="https://svn.apache.org/repos/asf/marmotta/logo/logo/Marmotta_Logo_128.png" alt="Marmotta js Logo" style="height:20px; float:right;">
            </a></h4>
        </div>
        <div id="collapseSeventeen" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Marmotta is one of the reference projects early implementing the new Linked Data Platform recommendation that is being developed by W3C. It has been contributed by Salzburg Research from the Linked Media Framework, and continues its versioning, hence starting at version 3.0.0.</p>

                <p><b>What can you ask about Marmotta?</b>
                <ul>
                    <li>{{cbc.S17Q1}}
                    <br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/mrivettuvic/SENG-371"><button>Visit Repository</button></a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseEighteen"> 
                {{cbc.section18}}
            </a></h4>
        </div>
        <div id="collapseEighteen" class="panel-collapse collapse">
            <div class="panel-body">
                <p>ProjectForge is a web-based solution for project management including time tracking, gantt-charting, financial administration, issue management, controlling and managing work-break-down-structures (e. g. together with JIRA as issue management system). You can extend ProjectForge by your own plugins.</p>

                <p><b>What can you ask about ProjectForge?</b>
                <ul>
                    <li>{{cbc.S18Q1}}
                    <br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/mrivettuvic/SENG-371"><button>Visit Repository</button></a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseNineteen"> 
                {{cbc.section19}}
                <img src="http://www.excentia.es/img/sonarqube/sonarqube-logo.png" alt="SonarQube Logo" style="height:20px; float:right;">
            </a></h4>
        </div>
        <div id="collapseNineteen" class="panel-collapse collapse">
            <div class="panel-body">
                <p>SonarQube (formerly Sonar) is an open source platform for continuous inspection of code quality. It can support 25+ languages, can be used in Android development, offeres reports, and can integrate with Eclipse, JIRA, and others. Is expandable through the use of plugins.</p>

                <p><b>What can you ask about SonarQube?</b>
                <ul>
                    <li>{{cbc.S19Q1}}
                    <br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/mrivettuvic/SENG-371"><button>Visit Repository</button></a>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>


</div>