<!-- MAIN CONTENT AND INJECTED VIEWS; Old way first.-->
<div class="jumbotron text-center" ng-controller="contactController as contact">
	<h1>Contact Page</h1>
	<p>We'd love to hear from you!</p>
</div>

<div class="text">

	<p>We made a choice my friend, a choice you may not like. We haven't included our email addresses because of the pesky spam bots nearby. Instead, we ask that you leave an issue/comment on our GitHub repository! We'll get back to you within 24 hours with a reply. If you leave your email address, we can respond to that directly too. Don't worry - we'll figure out something that works later.</p>

	<p><button><a target="_blank" ng-href="https://github.com/eburdon/EvolutionHub/issues">Visit Repository Issues page</button></p>
</div>