<!-- MAIN CONTENT AND INJECTED VIEWS; Old way first.-->
<div class="jumbotron text-center" ng-controller="homeController as home">
	<h1>Software Evolution Hub</h1>
		
	<p>You'll never need to go to campus again</p>
</div>

<div class="text">
<center><p>Welcome to our Evolution web application!</p></center>
<p>
	If you're looking to learn something about software evolution, you've come to the right place. This is the place where you can either learn some interesting laws and facts about evolution via the Education Center, or execute some codebase analysis tools from the Research Center!
</p>
<p>
	<b>Don't know where to start?</b>
	If you're looking for an easy read, check out the blog posts, papers, or books on Software Engineering in the Education center. If you're looking for some cool questions (with answers) to the evolution of various open-source projects, check out the ones included in the Research Center! You'll be able to execute an analysis tool on our server and display the results in your browser. Finally, if you just want more information about this project, check out the 'About' page or contact us.
</p>
<br>
</div>

<div class="row"  align="center">
	<div class="col-md-6">
		<div class="infocenter-splash" style="width: 50%">
		<article>
			<a href="/eduCenter"><img src="assets/img/rocket.png" alt="rocketEducation" height=100px></a>
			<h3>EDUCATION CENTER</h3>
			<p>What do you want to learn about Software Evolution?</p>
		</article>
		</div>
	</div>

	<div class="col-md-6">
		<div class="infocenter-splash" style="width: 50%">
		<article>
			<a href="/reaCenter"><img src="assets/img/flask.png" alt="flashResearch" height=100px></a>
			<h3>RESEARCH CENTER</h3>
			<p>Would you like to check out some software analysis tools?</p>
		</article>
		</div>
	</div>
</div>