<div class="jumbotron text-center" ng-controller="questionListController as listControl">
	<h1>Research evolution by Topic</h1>
    <!-- <p> {{listControl.message}} </p> -->
</div>


<div class="panel-group" id="accordion">

    <p>
        This is a list of questions as presented by groups in Project 1!<br><br> 

        Click a box and expand for more information and execute the program.<br>
        <b>*Note:</b> Projects are listed in alphabetical order of the hosting github repository owner.<br><br>
    </p>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> {{listControl.question1}} </a></h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
        	<div class="panel-body">
                <p>{{listControl.sum1para1}}</p>
                <p>{{listControl.sum1para2}}</p>
                <p>{{listControl.sum1para3}}</p>
                <p>{{listControl.sum1para4}}</p>
                
                <p>This project was written by:<br>
                    <b>{{listControl.authors11}}, {{listControl.authors12}}, {{listControl.authors13}}</b><br><br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/371student/SENG371Project"><button>Visit Repository</button></a>
                </p>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> {{listControl.question2}} </a></h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{listControl.sum2para1}}</p>
                <p>{{listControl.sum2para2}}</p>
                <p>{{listControl.sum2para3}}</p>
                <p>{{listControl.sum2para4}}</p>
                
                <p>This project was written by:<br>
                    <b>{{listControl.authors21}}, {{listControl.authors22}}</b><br><br>
                <!--<a href="http://localhost:8081/execute/2">-->
                <a href="/projects/2">
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/devinc13/SENG371-Devin-and-Andrew"><button>Visit Repository</button></a>
                </a>
                </p>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> {{listControl.question3}} </a></h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{listControl.sum3para1}}</p>
                <p>{{listControl.sum3para2}}</p>
                <p>{{listControl.sum3para3}}</p>
                
                <p>This project was written by:<br>
                    <b>{{listControl.authors31}}</b><br><br>
                    <!-- Nothing to execute; no button -->
                    <a target="_blank" ng-href="https://github.com/eburdon/Seng371-SoftwareEvolutionClassProject"><button>Visit Repository</button></a>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"> {{listControl.question4}} </a></h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{listControl.sum4para1}}</p>
                <p>{{listControl.sum4para2}}</p>
                <p>{{listControl.sum4para3}}</p>
                <p>{{listControl.sum4para4}}</p>
                
                <p>This project was written by:<br>
                    <b>{{listControl.authors41}}, {{listControl.authors42}}, {{listControl.authors43}}, {{listControl.authors44}}</b><br><br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/gregnr/SoftwareEvolutionAnalysis"><button>Visit Repository</button></a>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"> {{listControl.question5}} </a></h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{listControl.sum5para1}}</p>
                <p>{{listControl.sum5para2}}</p>
                <p>{{listControl.sum5para3}}</p>
                
                <p>This project was written by:<br>
                    <b>{{listControl.authors51}}, {{listControl.authors52}}, {{listControl.authors53}}</b><br><br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/guand/seng371-project1"><button>Visit Repository</button></a>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"> {{listControl.question6}} </a></h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{listControl.sum6para1}}</p>
                <p>{{listControl.sum6para2}}</p>
                <p>{{listControl.sum6para3}}</p>
                <p>{{listControl.sum6para4}}</p>
                
                <p>This project was written by:<br>
                    <b>{{listControl.authors61}}, {{listControl.authors62}}</b><br><br>
                    <a target="_blank" ng-href="https://github.com/Hoverbear/transit"><button>Visit Repository</button></a>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"> {{listControl.question7}} </a></h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{listControl.sum7para1}}</p>
                <p>{{listControl.sum7para2}}</p>
                <p>{{listControl.sum7para3}}</p>
                <p>{{listControl.sum7para4}}</p>
                
                <p>This project was written by:<br>
                    <b>{{listControl.authors71}}, {{listControl.authors72}}, {{listControl.authors73}}</b><br><br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/Jsyro/seng371"><button>Visit Repository</button></a>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight"> {{listControl.question8}} </a></h4>
        </div>
        <div id="collapseEight" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{listControl.sum8para1}}</p>
                <p>{{listControl.sum8para2}}</p>
                <p>{{listControl.sum8para3}}</p>
                <p>{{listControl.sum8para4}}</p>
                
                <p>This project was written by:<br>
                    <b>{{listControl.authors81}}, {{listControl.authors82}}</b><br><br>
                    <a target="_blank" ng-href="https://github.com/knowlesc/seng371project1"><button>Visit Repository</button></a>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine"> {{listControl.question9}} </a></h4>
        </div>
        <div id="collapseNine" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{listControl.sum9para1}}</p>
                <p>{{listControl.sum9para2}}</p>
                <p>{{listControl.sum9para3}}</p>
                <p>{{listControl.sum9para4}}</p>
                
                <p>This project was written by:<br>
                    <b>{{listControl.authors91}}, {{listControl.authors92}}</b><br><br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/mrivettuvic/SENG-371"><button>Visit Repository</button></a>
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen"> {{listControl.question10}}</a></h4>
        </div>
        <div id="collapseTen" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{listControl.sum10para1}}</p>
                <p>{{listControl.sum10para2}}</p>
                <p>{{listControl.sum10para3}}</p>
                <p>{{listControl.sum10para4}}</p>
                
                <p>This project was written by:<br>
                    <b>{{listControl.authors101}}</b><br><br>
                    <button id="runButton">Run Project</button>
                    <a target="_blank" ng-href="https://github.com/PolloDiablo/SENG-371-Project-1"><button>Visit Repository</button></a>
                </p>
            </div>
        </div>
    </div>
</div>