<div class="jumbotron text-center" ng-controller="softwareLawsController as softLaw">
	<h1>The 8 Laws of Software Evolution</h1>
    <!-- <p>{{ softLaw.message }}</p> -->
</div>

<div class="text">
	<h1>{{softLaw.mainTitle}}</h1>
	<p> {{softLaw.paragraph1}} </p>
	<p> {{softLaw.paragraph2}} </p>
	<p> {{softLaw.paragraph3}} </p>
	<p> <b>NOTE: </b>{{softLaw.paragraph4}} </p>

	<h3>1. {{softLaw.law1title}}</h3>
	<p>{{softLaw.law1text}}</p>

	<h3>2. {{softLaw.law2title}}</h3>
	<p>{{softLaw.law2text}}</p>

	<h3>3. {{softLaw.law3title}}</h3>
	<p>{{softLaw.law3text}}</p>

	<h3>4. {{softLaw.law4title}}</h3>
	<p>{{softLaw.law4text}}</p>

	<h3>5. {{softLaw.law5title}}</h3>
	<p>{{softLaw.law5text}}</p>

	<h3>6. {{softLaw.law6title}}</h3>
	<p>{{softLaw.law6text}}</p>

	<h3>7. {{softLaw.law7title}}</h3>
	<p>{{softLaw.law7text}}</p>

	<h3>8. {{softLaw.law8title}}</h3>
	<p>{{softLaw.law8text}}</p>
</div>